.navbar-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background-color: #9e0101;
}
.appname{
    margin-left: 2%;
}
.logout-button{
    margin-right: 2%;
}
button{
    height: 5vh;
    width: 10vw;
    font-size: 20px;
    background-color: rgb(143, 143, 2);
    cursor: pointer;
}
@media(max-width:1000px){
    .navbar-div{
        font-size: 10px;
    }
    .logout-button{
        width: 22%;
    }
    button{
        width: 100%;
        border-radius: 40px;
        font-size: 15px;
    }
}