.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    background-image: url('https://i.ibb.co/ZSbG7rb/circle-scatter-haikei.png');

}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 20vw;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}
.login-h1{
    width: 70%;
}
.form-div{
    text-align: start;
    margin-top: 10%;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -0.4rem;
    margin-bottom: 35px;
    color: #000;
}

.span-div{
    margin-top: 20%;
    border-bottom: 1px solid;
    cursor: pointer;
}
.login-input{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset -4px -4px 5px rgba(255, 255, 255, 0.5),
      inset 3px 3px 5px rgba(94, 104, 121, 0.4);
}
@media (max-width:1000px){
    .main-div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    .login-h1{
        padding-top: 10%;
    }
    .login-container{
        width: 80%;
        height: 80%;
    }
    .form-div{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .login-input{
        width: 100%;

    }
    .login-button{
        width: 100%;
    }
    .span-div{
        margin-top: 10%;
    }
}
